APP_NAME="Book Library API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=book_library
DB_USERNAME=book_user
DB_PASSWORD=secret

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

# Swagger UI — auto-generate docs on every request in local env
L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_UI_DOC_EXPANSION=list
L5_SWAGGER_UI_FILTERS=true
